<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xgw.serverFireWall.dao.mapper.ProfitMapper">
    <!--Student POJO映射结果集-->
    <!--id:唯一标识-->
    <!--type:具体的POJO对象类型-->
    <resultMap id="Profit" type="com.xgw.serverFireWall.dao.Profit">
        <!--column:主键字段也可以是查询语句中的别名字段-->
        <!--property:对应POJO对象中的属性-->
        <!--jdbcType:字段类型-->
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="openid" property="openid" jdbcType="VARCHAR" />
        <!--column:表的字段-->
        <result column="wallet" property="wallet" jdbcType="VARCHAR" />
        <result column="currentUnpaid" property="currentUnpaid" jdbcType="DOUBLE" />
        <result column="reportHashRate" property="reportHashRate" jdbcType="DOUBLE" />
        <result column="averageHashRate" property="averageHashRate" jdbcType="DOUBLE" />
        <result column="lastDayProfit" property="lastDayProfit" jdbcType="DOUBLE" />
        <result column="profitTime" property="profitTime" jdbcType="DATE" />
        <result column="createTime" property="createTime" jdbcType="DATE" />
        <result column="updateTime" property="updateTime" jdbcType="DATE" />
    </resultMap>

    <select id="getLastProfit" resultMap="Profit">
        SELECT
        ANY_VALUE(r.id) as id,
        r.openid as openid,
        ANY_VALUE(r.wallet) as wallet,
        ANY_VALUE(r.currentUnpaid) as currentUnpaid,
        ANY_VALUE(r.reportHashRate) as reportHashRate,
        ANY_VALUE(r.averageHashRate) as averageHashRate,
        ANY_VALUE(r.lastDayProfit) as lastDayProfit,
        ANY_VALUE(r.profitTime) as profitTime,
        ANY_VALUE(r.createTime) as createTime,
        ANY_VALUE(r.updateTime) as updateTime
        FROM
        (
            SELECT
            *
            FROM
            profits
            WHERE
            openid in (<foreach collection="openids" item="openid" separator=",">#{openid}</foreach >)
            OR wallet in (<foreach collection="wallets" item="wallet" separator=",">#{wallet}</foreach >)
            ORDER BY
                profitTime DESC
            LIMIT
              1000
          ) r
        GROUP BY
          openid
    </select>

    <select id="getUserLastProfit" resultMap="Profit">
        SELECT *
        FROM profits
        WHERE openid = #{openid} AND wallet = #{wallet}
        ORDER BY
                profitTime DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO profits(id, openid, wallet, currentUnpaid, reportHashRate, averageHashRate, lastDayProfit, profitTime, createTime, updateTime)
        VALUES
        <foreach collection ="profits" item="profit" separator =",">
            (#{profit.id}, #{profit.openid}, #{profit.wallet}, #{profit.currentUnpaid}, #{profit.reportHashRate}, #{profit.averageHashRate}, #{profit.lastDayProfit}, #{profit.profitTime}, #{profit.createTime}, #{profit.updateTime})
        </foreach >
    </insert>

</mapper>
