<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xgw.serverFireWall.dao.mapper.WarnMapper">
    <!--Student POJO映射结果集-->
    <!--id:唯一标识-->
    <!--type:具体的POJO对象类型-->
    <resultMap id="Warn" type="com.xgw.serverFireWall.dao.Warn">
        <!--column:主键字段也可以是查询语句中的别名字段-->
        <!--property:对应POJO对象中的属性-->
        <!--jdbcType:字段类型-->
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="openid" property="openid" jdbcType="VARCHAR" />
        <!--column:表的字段-->
        <result column="wallet" property="wallet" jdbcType="VARCHAR" />
        <result column="inActiveWorker" property="inActiveWorker" jdbcType="VARCHAR" />
        <result column="lastSeen" property="lastSeen" jdbcType="TIMESTAMP" />
        <result column="dealed" property="dealed" jdbcType="BOOLEAN" />
        <result column="warnType" property="warnType" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="batchGetWarnUnDealed" parameterType="java.lang.String" resultMap="Warn">
        SELECT *
        FROM warns
        WHERE openid = #{openid} AND wallet = #{wallet} AND dealed = false AND warnType = 'inactive'
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO warns(id, openid, wallet, inActiveWorker, lastSeen, dealed, warnType, createTime, updateTime)
        VALUES
        <foreach collection ="warns" item="warn" separator =",">
            (#{warn.id}, #{warn.openid}, #{warn.wallet}, #{warn.inActiveWorker}, #{warn.lastSeen}, #{warn.dealed}, #{warn.warnType}, #{warn.createTime}, #{warn.updateTime})
        </foreach >
    </insert>

    <!--更新数据-->
    <update id="batchUpdateDealed">
        UPDATE warns
        SET dealed = 1,
        updateTime  = #{updateTime}
        WHERE id in (<foreach collection="warns" item="warn" separator=",">#{warn.id}</foreach >)
    </update>

    <delete id="delete" parameterType="java.util.List">
        DELETE FROM warns
        WHERE id in (<foreach collection="ids" item="id" separator=",">#{id}</foreach >)
    </delete>

</mapper>
